html,body,section {
    margin: 0;
    padding: 0; 
    /* overflow-x: hidden; */
    overflow-x: hidden !important;
    background-color: #00181c;

}

img{
    width: 100vw;
    height: 100vh;
    /* object-fit: cover; */
}

section{
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}